body {
  font-family: Ubuntu;
}

aside {
  display: block;
  width: 25%;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  float: right;
  background-color: lightgray;
  text-align: center;
  font-style: italic;
}

table, th, td {
  border: 1.5px solid black;
}

footer {
  text-align: center;
  background-color: lightgray;
  margin-top: 100px;
}

.dropdown-item:hover {
  color: aliceblue;
  background-color: black;
}

#mainheader {
  text-align: center;
  padding-top: 30px;
}

#headerInfo {
  align-content: center;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: whitesmoke;
  text-shadow: 5px;
}

#homeButton:hover, #contactButton:hover {
  color: aliceblue;
  background-color: black;
}

#citiesButton:hover {
  color: aliceblue;
  background-color: black;
}

#mainBody {
  width: 100%;
  position: relative;
}

#contactLink {
  width: 50%;
  position: bottom;
}

#contactTable {
  width: 50%;
  margin-top: 50px;
  text-align: left;
  right: 50;
}

#firstRow {
  padding-left: 15%;
  padding-right: 15%;
}

#secondRow {
  padding-left: 15%;
  padding-right: 15%;
}

#extraSpace {
  height: 500px;
}

.card {
  padding: 10px;
  margin: 10px;
  text-align: center;
}



video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
}